body{
    background-color:#d0f0c0;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.gardens-app{
    max-width:1000px;
    margin:60px auto;
    border-radius: 10px;
}


.first{
    
    box-shadow: 0px 30px 50px #d0d0d0;
    width: 100%;
    height:100vh;
    background: linear-gradient(to right, white 70%, #d0f0c0 30%);
}
nav ul{
    float: right;
    margin-right: 2em;
  }
  
  nav li{
    display: inline;
    padding: 1em;
    display: inline-block;
  }
  
  a {
    text-decoration: none;
    color: #355e3b;
  }
 

.About{
    padding:155px 40px;
}
.headline{ 
    margin-top:40px;
    line-height: 20px;
    font-size: 50px;
    color:#355e3b;
}
.Home{
    color:#916a2f;
}
.details{
    color:#013220;
    font-size: 16px;
    
    line-height: 24px;
    font-weight: 300;
}
.Learn{
    background:#916a2f;
    padding:15px 30px;
    border:none;
    font-size:16px;
    margin-left:5px;
    border-radius:15px;
    color:white;
    cursor:pointer;
  }
.home-img{
    position:absolute;
   top:25%;
    left: 55%;
    width:300px;
    height: 300px;
    border-radius: 50%;
    border:10px solid #355e3b;
}
.second{
    width:100%;
    height:100vh;
    background: #355e3b;
}
.cover{
    width:900px;
    height:400px;
    padding-top: 50px;
    display:flex;
}
.box{
    margin:15px;
    width:300px;
    height:400px;
}
img{
    width:300px;
    height:250px;
}
h2{
    color:#cd7f32 ;
    font-weight: 200;
    font-size:30px;
}
.plants-details{
    color:#d0d0d0;
}
.plants-button{
    background:#355e3b;
    padding:10px 20px;
    border:1px solid ;
    font-size:16px;
    display:block;
    margin:0 auto;
    border-radius:15px;
    color:white;
    cursor:pointer;
}
.third{
    background:white;
    width:100%;
    height:100vh;
}